header{
    position: absolute;
    z-index: 2;
    top:0;
    right: 0;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    color: $header-on-dark-color;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    padding-top: 20px;
}

.company-title{
    font-size: 20px;
    font-weight: 600;
}

header ul{
    padding-top: 10px;
    width: 100%;
    display: inline-grid;
    grid-template-columns: repeat(4, 1fr);   
    gap: 10px;
    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
}