@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


$header-font: 'Oswald';
$text-font: 'Source Sans 3';

$white: #EEEEEE;
$gray: #454647;
$off-gray: #666666;
$off-white: #FFFFFF;
$light-blue: #55C2D8;

$background-color: $white;
$header-on-dark-color: $off-white;
$subhead-on-white: $off-gray;
$text-on-white-color: $gray;
$button-color: $light-blue;
$footer-background-color: $gray;


$header-font-size: 48px;
$header-font-weight: 700;
$subhead-font-size: 24px;
$subhead-font-weight: 350;
$dark-text-opacity: 70%;

$page-height: 100vh;

$top-z-index: 5;